.container {
  width:25% !important;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 5%;
}

h2 {
  color: #d32f2f;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin: 10px 0 5px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #d32f2f;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px !important;
}

button:hover {
  background-color: #b71c1c;
}

p {
  color: blue;
  cursor: pointer;
}

p:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 12px;
}
